{
  "extends": [
    "airbnb"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "react/destructuring-assignment": 0,
    "react/forbid-prop-types": 0
  },
  "overrides": [
    {
      "files": ["*.spec.js"],
      "rules": {
        "react/jsx-filename-extension": 0
      }
    }
  ]
}
